

<div id="bdw">
    <div id="bd">
        <div class="pages content"><h1 class="page-title">故事</h1>


            <div class="article-list">
                 <img src="/img/about.jpg" width="935px;"/>
            </div>
        </div>
    </div>
</div>
