<html xmlns:wb="http://open.weibo.com/wb">
<head>
    <title><%= title %> - 芳儿的博客</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, user-scalable=no">
    <meta name="description" content="芳儿的博客" />
    <meta name="keywords" content="芳儿的博客" />
    <link rel="shortcut icon" href="http://static.wangyin.com/member/v1.1.1/img/favicon/favicon.ico"/>

    <link rel="stylesheet" media="screen and (min-width:1025px)" href="/css/base.css">
    <link rel="stylesheet" href="/css/highlight/github.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <script src="/js/jquery-1.7.2.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=3620643001" type="text/javascript" charset="utf-8"></script>
    <!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script><![endif]-->
</head>
<body class="pg-archives">
    <header id="hdw" role="banner">
        <div id="hd" class="cf">
            <a href="/index" class="logo">
                <img src="/images/logo.png">
            </a>
            <nav class="site-nav cf">
                <a href="/index" id="index">首页</a>
                <a href="/archives" id="archives">文章归档</a>
                <a href="/about" id="about">关于我</a>
                <a href="https://github.com/lrfun/blog/" target="_blank">源码</a>
            </nav>
            <form action="/search" method="post" class="search">
                <input type="hidden" id="htype" value="<%=type %>">
                <input type="text" name="keywords" placeholder="Search" class="search__input">
            </form>
            <a href="https://github.com/lrfun/blog" class="rss"></a>
        </div>
    </header>

    <%-body %>

<footer id="ftw">
    <div id="ft">© 2014<span id="copyright"><a href="https://github.com/lrfun">lrfun</a></span>All rights reserved.
        |<a href="/post">发布文章
        <% if(user){ %>
            |<a href="/logout">登出</a>
            |<a href="/manage">管理文章</a>
        <%} else{%>
            |<a href="/login">登录</a>
        <%}%>
            </div>
</footer>

</body>

<script type='text/javascript'>
    var htype = $("#htype").val();
    if(1 == htype){
        $('#index').addClass('current');    
    }
    if(2 == htype){ 
        $('#archives').addClass('current');    
    }
    if(3 == htype){
        $('#about').addClass('current');    
    } 
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F8b430919283504148e72bdee14b1d6a0' type='text/javascript'%3E%3C/script%3E"));   
</script>

</html>